<!DOCTYPE html>
<html>
{% load static %} <!-- load static -->
<head>
    <title>My First Index HTML Page</title>
    <meta name="keywords" content="Books, recent, Learning, library">
    <meta name="description" content="Books website">
    <meta name="author" content="author name">
    <link rel="icon" href="{% static 'qu-icon.png' %}"> <!-- static template tag -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}"> <!-- static template tag -->
</head>
<body>

    <div class="topnav">
        <a class="active" href="{% url 'books.index' %}">Home</a> <!-- URL template tag -->
        <a href="{% url 'books.list_books' %}">List Books</a> <!-- URL template tag -->
        <a href="{% url  'books.aboutus' %}">About</a> <!-- URL template tag -->
    </div>

    <h1 style="color: blue;">This is heading 1 (Library)</h1>
    <p style="color: white;background-color: black;">This is a paragraph text </p>

    <a href="https://www.w3schools.com/html/default.asp">Learn HTML</a>
    <hr>
    <h2>This is heading 2</h2>
    <p>This is some other text <br> new line</p>
</body>
</html>
